extends layout
block content
    .container
        .row
            .col-md-8.offset-md-2

                div
                    h1(class="text-center") DETAILS
                    br
                    h3 sur name: #{patient.surname}
                    br
                    h3 Given name: #{patient.givenname}
                    br
                    h3 Place of Residence: #{patient.placeofresidence}
                    br
                
                        a(class="btn btn-primary btn-block" href="/patient") DONE
                    

